@font-face {
  font-family: 'Glenn-Sans-Extra-Bold';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-ExtraBold.otf');
}

@font-face {
  font-family: 'Glenn-Sans-Light';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-Light.otf');
}

@font-face {
  font-family: 'Glenn-Sans-Hairline-Italic';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-HairlineItalic.otf');
}

@font-face {
  font-family: 'Glenn-Sans-Black';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-Black.otf');
}

body {
  border: 3px solid black;
  font-family: 'Glenn-Sans-Light';
  margin: 0px;
}

/* CSS FOR THE SIDEBAR ELEMENT */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.sidebar {
  /*border: 3px solid pink;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgba(182, 184, 182, 0.3);
  overflow-x: hidden;

  font-family: 'Glenn-Sans-Light';
  color: white;
}

.sidebar-title {
  font-family: 'Glenn-Sans-Hairline-Italic';
}

.sidebar-title h2 {
  margin: 0;
  padding: 0px;
}

.sidebar > .feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.feed::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.feed-styling {
  width: 250px;
  height: auto;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: rgb(100,100,100);
  opacity: 0.5;
}

.image-and-caption {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.image-and-caption p {
  align-self: center;
  margin: 10px;
  text-align: right;
  color: black;

  visibility: hidden;
}

.sidebar .button-box {
  min-height: 100px;
  flex-grow: 1;
  align-self: flex-end;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(100,100,100);
}

.sidebar-shift {
  padding-right: 450px;
}

.sidebar-show-button {
  display: none;
  position: fixed;
  margin: 10px;
  bottom: 0;
  right: 0;
}

.sidebar-hide-button {
  display: none;
  position: fixed;
  margin-right: 450px;
  bottom: 0;
  right: 0;
}

/* CSS FOR PAGE 1 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page1-container {
  /*border: 3px solid pink;*/
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: grid;
  /*grid-template-columns: 1fr minmax(200px, auto);*/
  grid-template-rows: minmax(300px, auto) minmax(100px, auto) minmax(200px, auto);
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.page1-container > * {
  /*border: 3px solid black;*/
}

.page1-header-area {                       /*I am a flexbox*/
  /*border: solid red 3px;*/
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0px;
}

.page1-header-area h1 {
  /*border: solid blue 3px;*/
  font-family: 'Glenn-Sans-Extra-Bold';
  font-size: 150px;
  margin: 0px;
  padding: 0px;
}

.page1-nav-area {                       /*I am a flexbox*/
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-left: 0px;
}

.page1-nav-area nav {                 /*I am a flex box and a flex item*/
  /*border: 3px solid black;*/
  display: flex;
  align-items: center;
}

.page1-nav-area nav ul {              /*I am a flex box and a flex item*/
  /*border: 3px solid black;*/
  display: flex;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;

  font-family: 'Glenn-Sans-Black';
}

.page1-nav-area nav ul li {
  /*border: 3px solid black;*/
  margin: 2px;
}

.page1-content-area {
  /*border: solid green 3px;*/
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.page1-content-area::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.page1-content {
  /*border: solid black 3px;*/
  flex: 0 1 400px;
  height: 90%;
  margin: 20px;
  margin-bottom: 20px;
  margin-top: 0px;

  overflow: scroll;
  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */

  background-color: cadetblue;
}

.page1-content::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.page1-content p {
  padding-left: 10px;
  padding-right: 10px;
}

.page1-content h3 {
  margin: 10px;
  padding: 10px;
  background-color: white;
}

/* CSS FOR PAGE 2 */ 
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page2-container {                     /* I am a grid */
  /*border: 3px solid black;*/
  height: 100vh;
  background-color: cadetblue;
  display: grid;
  /*grid-template-columns: 1fr minmax(200px, auto);*/
  grid-template-rows: minmax(150px, auto) minmax(100px, auto) 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.page2-container > * {
  /*border: 3px solid black;*/
}

.page2-header-area {                   /*I am a flexbox*/
  grid-area: header;
  display: flex;
  justify-content: flex-start;
}

.page2-header-area h1 {
  font-family: 'Glenn-Sans-Extra-Bold';
  font-size: 100px;
  padding: 0px;
  margin: 0px;
}

.page2-nav-area {                      /*I am a flexbox*/
  border: solid 3px blue;
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;

  padding-right: 450px;
  padding-left: 0px;
}

.page2-nav-area nav {                 /*I am a flexbox */
  border: 3px solid black;
  display: flex;
  align-items: center;
}

.page2-nav-area nav ul {              /*I am a flex box */
  /*border: 3px solid black;*/
  display: flex;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;

  font-family: 'Glenn-Sans-Black';
}

.page2-nav-area nav ul li {
  /*border: 3px solid black;*/
  margin: 2px;
}

.page2-content-area {                 /* I am a grid */
  grid-area: main;
  height: 80%;
  margin: 50px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "area-a area-b"
    "area-a area-c";
  row-gap: 50px;
  column-gap: 50px;
  padding-right: 450px;
  padding-left: 0px;
}

.page2-content-a {
  grid-area: area-a;
  background-color: white;
  /*margin: 20px;*/
}

.page2-content-b {
  grid-area: area-b;
  background-color: white;
  /*margin: 20px;*/
}

.page2-content-c {
  grid-area: area-c;
  background-color: white;
  /*margin: 20px;*/
}

.page2-content-area > * {
  border: 3px solid black;
}

/* CSS FOR PAGE 3 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page3-container {                        /* I am a grid */
  /*border: 3px solid black;*/
  height: 100vh;
  display: grid;
  /*grid-template-columns: 1fr minmax(200px, auto);*/
  grid-template-rows: minmax(150px, auto) minmax(100px, auto) 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.page3-header-area {                       /* I am a flexbox */
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

.page3-header-area h1 {
  font-family: 'Glenn-Sans-Extra-Bold';
  font-size: 100px;
  padding: 0px;
  margin: 0px;
}

.page3-nav-area {                       /*I am a flexbox*/
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.page3-nav-area nav {                 /* I am a flexbox */
  /*border: 3px solid black;*/
  display: flex;
  align-items: center;

}

.page3-nav-area nav ul {              /* I am a flexbox */
  /*border: 3px solid black;*/
  display: flex;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;

  font-family: 'Glenn-Sans-Black';
}

.page3-nav-area nav ul li {
  /*border: 3px solid black;*/
  margin: 2px;
}

.page3-content-area {                 /* I am a flexbox */
  grid-area: main;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.page3-content-area::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.page3-content {
    /*border: solid black 3px;*/
    flex: 0 1 400px;
    height: 90%;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
  
    overflow: scroll;
    -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
  
    background-color:rgb(207, 155, 12);
  }
  
.page3-content::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}


.page3-content-area > * {
  border: 3px solid black;
}

/* CSS FOR PAGE 4 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page4-container {
  /*border: 3px solid black;*/
  height: 100vh;
  background-color: rgb(207, 155, 12);
  display: grid;
  /*grid-template-columns: 1fr minmax(200px, auto);*/
  grid-template-rows: minmax(150px, auto) minmax(100px, auto) 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.page4-container > * {
  /*border: 3px solid black;*/
}

.page4-header-area {                   /*I am a flexbox*/
  grid-area: header;
  display: flex;
  justify-content: flex-start;
}

.page4-header-area h1 {
  font-family: 'Glenn-Sans-Extra-Bold';
  font-size: 100px;
  padding: 0px;
  margin: 0px;
}

.page4-nav-area {                      /* I am a flexbox*/
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.page4-nav-area nav {                  /* I am a flexbox */
  /*border: 3px solid black;*/
  display: flex;
  align-items: center;

}

.page4-nav-area nav ul {               /* I am a flexbox */
  /*border: 3px solid black;*/
  display: flex;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;

  font-family: 'Glenn-Sans-Black';
}

.page4-nav-area nav ul li {
  /*border: 3px solid black;*/
  margin: 2px;
}

.page4-content-area {                  /* I am a grid */
  grid-area: main;
  height: 80%;
  margin: 50px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "area-a area-b"
    "area-a area-c";
  row-gap: 50px;
  column-gap: 50px;
  padding-right: 450px;
  padding-left: 0px;
}

.page4-content-a {
  grid-area: area-a;
  background-color: white;
  /*margin: 20px;*/
}

.page4-content-b {
  grid-area: area-b;
  background-color: white;
  /*margin: 20px;*/
}

.page4-content-c {
  grid-area: area-c;
  background-color: white;
  /*margin: 20px;*/
}

.page4-content-area > * {
  border: 3px solid black;
}

/* CSS FOR PAGE 5 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page5-container {                      /* I am a grid */
  /*border: 3px solid black;*/
  height: 100vh;
  display: grid;
  /*grid-template-columns: 1fr minmax(200px, auto);*/
  grid-template-rows: minmax(150px, auto) minmax(100px, auto) 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.page5-header-area {                     /* I am a flexbox*/
  grid-area: header;
  display: flex;
  justify-content: flex-start;
  padding-left: 0px;
}

.page5-header-area h1 {
  font-family: 'Glenn-Sans-Extra-Bold';
  font-size: 100px;
  padding: 0px;
  margin: 0px;
}

.page5-nav-area {                       /* I am a flexbox */
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;

  padding-right: 450px;
  padding-left: 0px;
}

.page5-nav-area nav {                  /* I am a flexbox */
  /*border: 3px solid black;*/
  display: flex;
  align-items: center;

}

.page5-nav-area nav ul {                /* I am a flexbox */
  /*border: 3px solid black;*/
  display: flex;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;

  font-family: 'Glenn-Sans-Black';
}

.page5-nav-area nav ul li {
  /*border: 3px solid black;*/
  margin: 2px;
}

.page5-content-area {                   /* I am a flexbox */
  border: 3px solid black;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */

}

.page5-content-area::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */

}

.page5-content {
    /*border: solid pink 3px;*/
    height: 90%;
    margin: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
  
    overflow: scroll;
    -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
    scrollbar-width: none; /* Hides scrollbar for Firefox */
  
    /*background-color:rgb(207, 155, 12);*/
  }
  
.page5-content::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}


.page5-content-area > * {
  /*border: 3px solid black;*/
}

.timelapse-pics {                       /* I am a flexbox */
  display: flex;
  justify-content: center;
}

.timelapse-pics img {
  border: 3px solid black;
  height: calc(100% - 6px);
  display: none;
}

#first-timelapse-img {
  display: block;
}

#page5-content2 {                       /* I am a flexbox */
  border: solid 3px blue;
  display: flex;
  justify-content: space-around;
  margin: 30px;
}

#page5-content2 > * {
  margin-left: 20px;
  margin-right: 20px;
}

.page5-content-buttonbox {              /* I am a flexbox */
  display: flex;
  justify-content: center;
}

/* CSS FOR OTHER GENERAL ELEMENTS */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

button {
  font-family: 'Glenn-Sans-Black';
  margin: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

h1 {
  border: 3px solid blue;
}

/* MEDIA QUERIES */

@media screen and (max-height: 600px) {
  .page1-container {
    height: auto;
  }

  .page1-content {
    height: 500px;
  }
}

@media screen and (max-width: 1400px) {
  .sidebar {
    visibility: hidden;
  }

  .sidebar-shift {
    padding-right: 100px;
  }

  .sidebar-show-button {
    display: block;
  }
}

@media screen and (min-width: 1401px) {
  .sidebar-hide-button {
    display: none !important;
  }

  .sidebar-show-button {
    display: none !important;
  }

  .sidebar {
    visibility: visible !important;
    background-color: rgb(182, 184, 182, 0.3) !important;
  }

  .sidebar .button-box {
    opacity: 0.5 !important;
    background-color: rgb(100, 100, 100) !important;
  }

  .sidebar .sidebar-title {
    opacity: 0.5 !important
    ;
    background-color: rgb(100, 100, 100) !important;
  }


}
