@font-face {
  font-family: 'Glenn-Sans-Extra-Bold';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-ExtraBold.otf');
}

@font-face {
  font-family: 'Glenn-Sans-Light';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-Light.otf');
}

@font-face {
  font-family: 'Glenn-Sans-Hairline-Italic';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-HairlineItalic.otf');
}

@font-face {
  font-family: 'Glenn-Sans-Black';
  src: url('./resources/font/Bw Glenn Sans DEMO/BwGlennSansDEMO-Black.otf');
}

body {
  /*min-width: 575px;*/
  /*width: 100vw;*/
  font-family: 'Glenn-Sans-Light';
  margin: 0px;
}

/* CSS FOR THE SIDEBAR ELEMENT */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.sidebar {                       /* I am a flexbox */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  
  height: 100%;
  width: 450px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgba(182, 184, 182, 0.3);
  overflow-x: hidden;

  font-family: 'Glenn-Sans-Light';
  color: white;
}

.sidebar-title {
  font-family: 'Glenn-Sans-Hairline-Italic';
}

.sidebar-title h2 {
  margin: 0;
  padding: 0px;
}

.sidebar > .feed {
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  overflow-x: hidden;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.feed::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.feed-styling {
  width: 250px;
  height: auto;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  background-color: rgb(100,100,100);
  opacity: 0.5;
}

.image-and-caption {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.image-and-caption p {
  align-self: center;
  margin: 10px;
  text-align: right;
  color: black;

  visibility: hidden;
}

.sidebar .button-box {
  min-height: 100px;
  flex-grow: 1;
  align-self: flex-end;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(100,100,100);
}

.sidebar-show-button {
  display: none;
  position: fixed;
  margin: 5px;
  bottom: 0;
  right: 0;
}

.sidebar-hide-button {
  display: none;
  position: fixed;
  z-index: 1;
  margin-right: 450px;
  bottom: 0;
  right: 0;
}

.sidebar-shift {
  padding-right: 450px;
}

/* CSS FOR PAGE 1 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#p1 {
  height: 100vh;
  min-height: 700px;
  display: grid;
  grid-template-rows: minmax(150px, auto) minmax(100px, auto), minmax(100px, auto) 1fr;
  grid-template-areas:
    "header"
    "logos"
    "nav"
    "main";
}

.logos {
  grid-area: logos;
  display: flex;
  flex-wrap: wrap;
  padding: 0px;
  padding-bottom: 20px;
  margin-left: 5px;
}

.logos a { 
  flex: 0 1 auto;
  margin: 0px;
  padding: 0px;
  height: auto;
}

.logos img {
  border: 3px solid black;
  height: 50px;
  background-color: gray;
  margin: 5px;
  vertical-align: bottom;
}

.page-header-area > .page1-header {
  font-size: 150px;
  padding: 0px;
  vertical-align: bottom;
  line-height: 100%;
}

.page1-content-area {
  overflow: scroll;
}

.page1-content {
  background-color: cadetblue;
}

.page1-content h3 {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

/* CSS FOR PAGE 2 */ 
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#p2 {                     
  background-color: cadetblue;
}

.page2-content-a {
  grid-area: area-a;
}

.page2-content-b {
  grid-area: area-b;
}

.page2-content-c {
  grid-area: area-c;
}

/* CSS FOR PAGE 3 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#page3-content-area {
  overflow: scroll;
}

.page3-content {
    background-color:rgb(207, 155, 12);
  }

/* CSS FOR PAGE 4 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#p4 {
  background-color: rgb(207, 155, 12);
}

.page4-content-a {
  grid-area: area-a;
}

.page4-content-b {
  grid-area: area-b;
}

.page4-content-c {
  grid-area: area-c;
}

/* CSS FOR PAGE PAGE 4.5 */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#p4-5 {
  background-color:rgb(207, 155, 12, 0.6);
}

.p4-5-flex-content {
  background-color: white;
}

/* CSS FOR PAGE 5 */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

#p5 {                     
  background-color: cadetblue;
  height: auto !important;
}

#page5-content-area {               /* I am a flexbox */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timelapse-pics {                     /* I am a flexbox */
  display: flex;
  justify-content: center;
}

.timelapse-pics img {
  border: 3px solid black !important;
  height: 50vw;
  min-height: 200px;
  max-height: 500px;
  display: none;
}

#first-timelapse-img {
  display: block;
}

#page5-content2 {                       /* I am a flexbox */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;

  background-color: white;
}

#page5-content2 p {
  margin-left: 20px;
  margin-right: 20px;
}

.page5-content-buttonbox {              /* I am a flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS FOR SHOW WORKINGS BUTTONS */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.show-workings {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 5px;
  margin-bottom: 45px;

  display: flex;
  flex-direction: column-reverse;

  background-color: gray;
}

.show-workings .selection-area {
  display: none;
  flex-direction: column;

  /*visibility: hidden;*/

}

/* CSS FOR OTHER GENERAL ELEMENTS */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.page-container {
  height: 100vh;
  display: grid;
  grid-template-rows: minmax(150px, auto) minmax(100px, auto) 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.page-header-area {                       /*I am a flexbox*/
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0px;
  font-family: 'Glenn-Sans-Extra-Bold';
  font-size: 100px;
}

.page-header-area h1 {
  font-size: 100px;
  margin: 0px;
  padding: 0px;
}

.page-nav-area {                       /*I am a flexbox*/
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-left: 0px;
}

.page-nav-area nav {                 /*I am a flex box and a flex item*/
  display: flex;
  align-items: center;
}

.page-nav-area nav ul {              /*I am a flex box and a flex item*/
  display: flex;
  list-style-position: inside;
  list-style-type: none;
  padding: 0px;

  font-family: 'Glenn-Sans-Black';
}

.page-nav-area nav ul li {
  margin: 2px;
}

.page-content-area {
  grid-area: main;
  margin-bottom: 20px;
  height: auto;

  overflow: scroll;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.page-content-area::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.flex-content-area {                 /* I am a flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.grid-content-area {                  /* I am a grid */
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "area-a area-b"
    "area-a area-c";
}

.grid-content-area > * {
  border: solid black 3px;
  background-color: white;
  margin: 30px;
}

.alt-content-area {                 /* I am a flexbox */
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  overflow: scroll;
}

.flex-content {
  border: solid black 3px;
  height: 100%;

  overflow: scroll;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.flex-content::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.grid-content {
  
  overflow: scroll;

  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.grid-content::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

.box-for-border {
  margin: 20px;
  margin-bottom: 10px;
  flex: 0 1 400px;

  /*overflow: scroll;*/
  -ms-overflow-style: none; /* Hides scrollbar for IE and Edge */
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.box-for-border::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Chrome, Safari, and Opera */
}

button {
  font-family: 'Glenn-Sans-Black';
  margin: 5px;
  height: minmax(25px - auto);
  width: minmax(60px, auto);

}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.5;
}

p {
  margin: 10px;
}

h3 {
  margin: 10px;
}

/* MEDIA QUERIES */
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-height: 750px) {
  .page-container {
    height: auto;
  }

  .page1-content {
    height: auto;
  }

  .page5-content {
    height: 500px;
  }
}

@media screen and (max-width: 540px) {
  .sidebar-hide-button {
    
    margin-right: 0px;
  }
}

@media screen and (max-width: 349px) {
  .page-header-area > h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 470px) {
  .sidebar {
    width: 290px;
  }

  .image-and-caption {
    flex-wrap: wrap-reverse;
  }

}

@media screen and (min-width: 350px) and (max-width: 600px) {
  .page-header-area > h1 {
    font-size: 17vw;
  }

}
 
@media screen and (max-width: 815px) {
  .page-header-area > .page1-header {
    font-size: 18vw;
  }

  .page1-content {
    /*width: minmax(100px, 80vw);*/
  }
}

@media screen and (max-width: 784px) {
  .page-nav-area {
    justify-content: flex-start;
    margin: 5px;
  }

  .page-nav-area nav ul {
    flex-direction: column;
  }

  .grid-content-area {
    display: none;
  }

  .p4-grid-content-area {
    display: none;
  }

  .alt-content-area {
    display: flex;
  }
}

@media screen and (min-width: 785px) {
  .first-nav::before {
    content: "//";
  }

  .grid-content-area {
    display: grid;
  }

  .p4-grid-content-area {
    display: grid;
  }
}

@media screen and (max-width: 1399px) and (min-width: 300px) {
  .sidebar-show-button {
    display: block;
  }
}

@media screen and (max-width: 1400px) {
  .sidebar {
    visibility: hidden;
  }

  .sidebar-shift {
    padding-right: 0px;
  }
}

@media screen and (min-width: 1401px) {
  .sidebar-hide-button {
    display: none !important;
  }

  .sidebar-show-button {
    display: none !important;
  }

  .sidebar {
    visibility: visible !important;
    background-color: rgb(182, 184, 182, 0.3) !important;
  }

  .sidebar .feed .image-and-caption p {
    visibility: hidden;
  }

  .sidebar .button-box {
    opacity: 0.5 !important;
    background-color: rgb(100, 100, 100) !important;
  }

  .sidebar .sidebar-title {
    opacity: 0.5 !important
    ;
    background-color: rgb(100, 100, 100) !important;
  }

}
